In [51]:
#Required Modules
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA

In [2]:
#DSaving the csv file
mcdonalds = pd.read_csv("https://homepage.boku.ac.at/leisch/MSA/datasets/mcdonalds.csv")
print(mcdonalds)

     yummy convenient spicy fattening greasy fast cheap tasty expensive  \
0       No        Yes    No       Yes     No  Yes   Yes    No       Yes
1      Yes        Yes    No       Yes    Yes  Yes   Yes   Yes       Yes
2       No        Yes   Yes       Yes    Yes  Yes    No   Yes       Yes
3      Yes        Yes    No       Yes    Yes  Yes   Yes   Yes        No
4       No        Yes    No       Yes    Yes  Yes   Yes    No        No
...    ...        ...   ...       ...    ...  ...   ...   ...       ...
1448    No        Yes    No       Yes    Yes   No    No    No       Yes
1449   Yes        Yes    No       Yes     No   No   Yes   Yes        No
1450   Yes        Yes    No       Yes     No  Yes    No   Yes       Yes
1451   Yes        Yes    No        No     No  Yes   Yes   Yes        No
1452    No        Yes    No       Yes    Yes   No    No    No       Yes

     healthy disgusting          Like  Age      VisitFrequency  Gender
0         No         No            -3   61  Every three months  Female
1         No         No            +2   51  Every three months  Female
2        Yes         No            +1   62  Every three months  Female
3         No        Yes            +4   69         Once a week  Female
4        Yes         No            +2   49        Once a month    Male
...      ...        ...           ...  ...                 ...     ...
1448      No        Yes  I hate it!-5   47         Once a year    Male
1449     Yes         No            +2   36         Once a week  Female
1450      No         No            +3   52        Once a month  Female
1451     Yes         No            +4   41  Every three months    Male
1452      No        Yes            -3   30  Every three months    Male

[1453 rows x 15 columns]

In [3]:
#Copying the data into new variable
fast_food = mcdonalds.copy()

In [5]:
#Printing variable names
print(fast_food.columns)

Index(['yummy', 'convenient', 'spicy', 'fattening', 'greasy', 'fast', 'cheap',
       'tasty', 'expensive', 'healthy', 'disgusting', 'Like', 'Age',
       'VisitFrequency', 'Gender'],
      dtype='object')

In [6]:
#Printing sample size
print(fast_food.shape)

(1453, 15)

In [7]:
#Printing first three rows of the data
fast_food.head(3)

,yummy,convenient,spicy,fattening,greasy,fast,cheap,tasty,expensive,healthy,disgusting,Like,Age,VisitFrequency,Gender
0,No,Yes,No,Yes,No,Yes,Yes,No,Yes,No,No,-3,61,Every three months,Female
1,Yes,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,No,No,+2,51,Every three months,Female
2,No,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,No,+1,62,Every three months,Female

### Pre-Processing: Converting first 11 segmentation variables from verbal to numeric

In [11]:
#Extracting first 11 columns 
temp = fast_food.iloc[:,0:11]
print(temp)

     yummy convenient spicy fattening greasy fast cheap tasty expensive  \
0       No        Yes    No       Yes     No  Yes   Yes    No       Yes
1      Yes        Yes    No       Yes    Yes  Yes   Yes   Yes       Yes
2       No        Yes   Yes       Yes    Yes  Yes    No   Yes       Yes
3      Yes        Yes    No       Yes    Yes  Yes   Yes   Yes        No
4       No        Yes    No       Yes    Yes  Yes   Yes    No        No
...    ...        ...   ...       ...    ...  ...   ...   ...       ...
1448    No        Yes    No       Yes    Yes   No    No    No       Yes
1449   Yes        Yes    No       Yes     No   No   Yes   Yes        No
1450   Yes        Yes    No       Yes     No  Yes    No   Yes       Yes
1451   Yes        Yes    No        No     No  Yes   Yes   Yes        No
1452    No        Yes    No       Yes    Yes   No    No    No       Yes

     healthy disgusting
0         No         No
1         No         No
2        Yes         No
3         No        Yes
4        Yes         No
...      ...        ...
1448      No        Yes
1449     Yes         No
1450      No         No
1451     Yes         No
1452      No        Yes

[1453 rows x 11 columns]

In [15]:
temp['yummy'].replace(['No', 'Yes'], [0, 1], inplace=True)
temp['convenient'].replace(['No', 'Yes'], [0, 1], inplace=True)
temp['spicy'].replace(['No', 'Yes'], [0, 1], inplace=True)
temp['fattening'].replace(['No', 'Yes'], [0, 1], inplace=True)
temp['greasy'].replace(['No', 'Yes'], [0, 1], inplace=True)
temp['fast'].replace(['No', 'Yes'], [0, 1], inplace=True)
temp['cheap'].replace(['No', 'Yes'], [0, 1], inplace=True)
temp['tasty'].replace(['No', 'Yes'], [0, 1], inplace=True)
temp['expensive'].replace(['No', 'Yes'], [0, 1], inplace=True)
temp['healthy'].replace(['No', 'Yes'], [0, 1], inplace=True)
temp['disgusting'].replace(['No', 'Yes'], [0, 1], inplace=True)

In [16]:
print(temp)

      yummy  convenient  spicy  fattening  greasy  fast  cheap  tasty  \
0         0           1      0          1       0     1      1      0
1         1           1      0          1       1     1      1      1
2         0           1      1          1       1     1      0      1
3         1           1      0          1       1     1      1      1
4         0           1      0          1       1     1      1      0
...     ...         ...    ...        ...     ...   ...    ...    ...
1448      0           1      0          1       1     0      0      0
1449      1           1      0          1       0     0      1      1
1450      1           1      0          1       0     1      0      1
1451      1           1      0          0       0     1      1      1
1452      0           1      0          1       1     0      0      0

      expensive  healthy  disgusting
0             1        0           0
1             1        0           0
2             1        1           0
3             0        0           1
4             0        1           0
...         ...      ...         ...
1448          1        0           1
1449          0        1           0
1450          1        0           0
1451          0        1           0
1452          1        0           1

[1453 rows x 11 columns]

In [20]:
print(temp.mean().round(2))

yummy         0.55
convenient    0.91
spicy         0.09
fattening     0.87
greasy        0.53
fast          0.90
cheap         0.60
tasty         0.64
expensive     0.36
healthy       0.20
disgusting    0.24
dtype: float64

### Principal Component Analysis

In [27]:
pca = PCA(n_components=11)
principalComponents = pca.fit_transform(temp)

In [30]:
principalComponents_dataframe = pd.DataFrame(data = principalComponents,
                                             columns = ['PC1', 'PC2','PC3','PC4','PC5','PC6','PC7','PC8','PC9','PC10','PC11'])

In [31]:
print(principalComponents_dataframe)

           PC1       PC2       PC3       PC4       PC5       PC6       PC7  \
0     0.425367 -0.219079  0.663255 -0.401300  0.201705 -0.389767 -0.211982
1    -0.218638  0.388190 -0.730827 -0.094724  0.044669 -0.086596 -0.095877
2     0.375415  0.730435 -0.122040  0.692262  0.839643 -0.687406  0.583112
3    -0.172926 -0.352752 -0.843795  0.206998 -0.681415 -0.036133 -0.054284
4     0.187057 -0.807610  0.028537  0.548332  0.854074 -0.097305 -0.457043
...        ...       ...       ...       ...       ...       ...       ...
1448  1.550242  0.275031 -0.013737  0.200604 -0.145063  0.306575 -0.075308
1449 -0.957339  0.014308  0.303843  0.444350 -0.133690  0.381804 -0.326432
1450 -0.185894  1.062662  0.220857 -0.467643 -0.187757 -0.192703 -0.091597
1451 -1.182064 -0.038570  0.561561  0.701126  0.047645  0.193687 -0.027335
1452  1.550242  0.275031 -0.013737  0.200604 -0.145063  0.306575 -0.075308

           PC8       PC9      PC10      PC11
0     0.163235  0.181007  0.515706 -0.567074
1    -0.034756  0.111476  0.493313 -0.500440
2     0.364379 -0.322288  0.061759  0.242741
3    -0.231477 -0.028003 -0.250678 -0.051034
4     0.171758 -0.074409  0.031897  0.082245
...        ...       ...       ...       ...
1448  0.345552 -0.136589 -0.432798 -0.456076
1449  0.878047 -0.304441 -0.247443 -0.193671
1450 -0.036576  0.038255  0.056518 -0.012800
1451 -0.339374  0.022267 -0.002573 -0.105316
1452  0.345552 -0.136589 -0.432798 -0.456076

[1453 rows x 11 columns]

In [44]:
summary = principalComponents_dataframe.describe()

In [45]:
summary

,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10,PC11
count,1.453000e+03,1.453000e+03,1.453000e+03,1.453000e+03,1.453000e+03,1.453000e+03,1.453000e+03,1.453000e+03,1.453000e+03,1.453000e+03,1.453000e+03
mean,-5.134686e-17,-4.890177e-17,2.750725e-17,2.383961e-17,1.100290e-17,-3.331433e-17,2.964670e-17,-1.222544e-18,-6.418357e-18,4.829050e-17,6.571176e-18
std,7.570495e-01,6.074556e-01,5.046195e-01,3.987986e-01,3.374050e-01,3.102746e-01,2.896973e-01,2.751220e-01,2.652511e-01,2.488418e-01,2.369028e-01
min,-1.188421e+00,-1.040274e+00,-8.808133e-01,-5.906209e-01,-1.045938e+00,-8.524911e-01,-8.059463e-01,-9.316201e-01,-9.557606e-01,-8.871971e-01,-8.851439e-01
25%,-5.476794e-01,-3.568482e-01,-4.507793e-01,-2.814986e-01,-2.433247e-01,-1.927027e-01,-1.342190e-01,-1.717258e-01,-1.181233e-01,-1.465751e-01,-1.053163e-01
50%,-7.074592e-02,-1.151632e-01,2.687734e-02,-1.163200e-01,3.348785e-02,-3.460184e-02,-6.366220e-02,-3.475619e-02,3.868061e-02,3.020635e-02,-1.201409e-02
75%,4.933012e-01,3.915540e-01,3.515939e-01,2.702298e-01,2.048293e-01,1.747453e-01,2.318357e-02,1.295966e-01,7.987794e-02,7.001416e-02,8.554080e-02
max,1.705573e+00,1.279130e+00,1.326976e+00,1.355278e+00,1.053327e+00,1.323793e+00,1.350886e+00,1.121388e+00,1.086693e+00,1.181524e+00,9.255829e-01

In [48]:
#Standard Deviation of 11 Principal Componenets
summary.iloc[2].round(1)

PC1     0.8
PC2     0.6
PC3     0.5
PC4     0.4
PC5     0.3
PC6     0.3
PC7     0.3
PC8     0.3
PC9     0.3
PC10    0.2
PC11    0.2
Name: std, dtype: float64

In [49]:
print(principalComponents_dataframe.round(1))

      PC1  PC2  PC3  PC4  PC5  PC6  PC7  PC8  PC9  PC10  PC11
0     0.4 -0.2  0.7 -0.4  0.2 -0.4 -0.2  0.2  0.2   0.5  -0.6
1    -0.2  0.4 -0.7 -0.1  0.0 -0.1 -0.1 -0.0  0.1   0.5  -0.5
2     0.4  0.7 -0.1  0.7  0.8 -0.7  0.6  0.4 -0.3   0.1   0.2
3    -0.2 -0.4 -0.8  0.2 -0.7 -0.0 -0.1 -0.2 -0.0  -0.3  -0.1
4     0.2 -0.8  0.0  0.5  0.9 -0.1 -0.5  0.2 -0.1   0.0   0.1
...   ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...
1448  1.6  0.3 -0.0  0.2 -0.1  0.3 -0.1  0.3 -0.1  -0.4  -0.5
1449 -1.0  0.0  0.3  0.4 -0.1  0.4 -0.3  0.9 -0.3  -0.2  -0.2
1450 -0.2  1.1  0.2 -0.5 -0.2 -0.2 -0.1 -0.0  0.0   0.1  -0.0
1451 -1.2 -0.0  0.6  0.7  0.0  0.2 -0.0 -0.3  0.0  -0.0  -0.1
1452  1.6  0.3 -0.0  0.2 -0.1  0.3 -0.1  0.3 -0.1  -0.4  -0.5

[1453 rows x 11 columns]